In [7]:
import pandas as pd

### Step 1: Load the data

In [8]:
data = pd.read_csv("top50.csv")
data.head(4)

,ID,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness.dB.,Liveness,Valence,Acousticness,Speechiness
0,1,SeÒorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,4,3
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,8,9
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,12,46
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,12,19

### Step 2: Data Cleaning

In [9]:
#Rename data columns
data.rename(columns= {'Track.Name':"Track Name", "Artist.Name": "Artist Name", "Beats.Per.Minute": "Beats per Minute", "Loudness.dB.":"Loudness"},inplace = True)
data.head(4)

,ID,Track Name,Artist Name,Genre,Beats per Minute,Energy,Danceability,Loudness,Liveness,Valence,Acousticness,Speechiness
0,1,SeÒorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,4,3
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,8,9
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,12,46
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,12,19

In [10]:
#Check for null values
data.isnull().sum()

ID                  0
Track Name          0
Artist Name         0
Genre               0
Beats per Minute    0
Energy              0
Danceability        0
Loudness            0
Liveness            0
Valence             0
Acousticness        0
Speechiness         0
dtype: int64

### Step 3: Normalize the data

Since we are using a radar chart to vizualize all the song metrics at once, we need to normalize the data.

In [13]:
data_not_normalize = data[["ID","Track Name","Artist Name","Genre"]]
data_normalize = data[["Beats per Minute","Energy","Danceability","Loudness","Liveness","Valence","Acousticness","Speechiness"]]

In [14]:
from sklearn.preprocessing  import MinMaxScaler
X = data_normalize.copy()
scaler = MinMaxScaler()

scaler.fit(X) #First, fit the data
X = pd.DataFrame(scaler.transform(X)) #Second, transform the data
X.columns = data_normalize.columns.values 

X.head(4)

,Beats per Minute,Energy,Danceability,Loudness,Liveness,Valence,Acousticness,Speechiness
0,0.304762,0.410714,0.770492,0.555556,0.056604,0.764706,0.040541,0.000000
1,0.190476,0.875000,0.819672,0.777778,0.056604,0.600000,0.094595,0.139535
2,1.000000,0.857143,0.180328,0.777778,0.207547,0.705882,0.148649,1.000000
3,0.076190,0.589286,0.573770,0.333333,0.056604,0.529412,0.148649,0.372093

In [16]:
#Add the normalized data back to the original dataset
data_edited= pd.concat([data_not_normalize,X],axis=1)
data_edited.head(4)

,ID,Track Name,Artist Name,Genre,Beats per Minute,Energy,Danceability,Loudness,Liveness,Valence,Acousticness,Speechiness
0,1,SeÒorita,Shawn Mendes,canadian pop,0.304762,0.410714,0.770492,0.555556,0.056604,0.764706,0.040541,0.000000
1,2,China,Anuel AA,reggaeton flow,0.190476,0.875000,0.819672,0.777778,0.056604,0.600000,0.094595,0.139535
2,3,boyfriend (with Social House),Ariana Grande,dance pop,1.000000,0.857143,0.180328,0.777778,0.207547,0.705882,0.148649,1.000000
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,0.076190,0.589286,0.573770,0.333333,0.056604,0.529412,0.148649,0.372093

### Step 4: Pivot and export the data

In [17]:
final_data = pd.melt(data_edited, id_vars=["ID","Track Name","Artist Name","Genre"], var_name = "Metric", value_name ="Metric Value")
final_data.head()

,ID,Track Name,Artist Name,Genre,Metric,Metric Value
0,1,SeÒorita,Shawn Mendes,canadian pop,Beats per Minute,0.304762
1,2,China,Anuel AA,reggaeton flow,Beats per Minute,0.190476
2,3,boyfriend (with Social House),Ariana Grande,dance pop,Beats per Minute,1.000000
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,Beats per Minute,0.076190
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,Beats per Minute,0.619048

In [15]:
final_data.to_csv('data_edited.csv',index=False)